<?xml version="1.0"  ?>
<config>
    <modules>
        <OAV_TimeLock>
            <version>1.0.0</version>
        </OAV_TimeLock>
    </modules>
    <global>
        <helpers>
            <TimeLock>
                <class>OAV_TimeLock_helper</class>
            </TimeLock>
        </helpers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <timelocker>
                        <class>OAV_TimeLock_Model_Observer</class>
                        <method>checkout_cart_product_add_after</method>
                        <type>model</type>
                    </timelocker>
                </observers>
            </checkout_cart_product_add_after>
            <sales_order_place_before>
                <observers>
                    <TimeLock>
                        <type>model</type>
                        <class>OAV_TimeLock_Model_Observer</class>
                        <method>sales_order_place_before</method>
                    </TimeLock>
                </observers>
            </sales_order_place_before>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <TimeLock>
                        <type>singleton</type>
                        <class>OAV_TimeLock_Model_Observer</class>
                        <method>controller_action_predispatch_checkout_onepage_index</method>
                    </TimeLock>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
        <blocks>
            <wishlist>
                <rewrite>
                    <customer_wishlist_button>OAV_TimeLock_Block_Wishlist_Button</customer_wishlist_button>
                </rewrite>
            </wishlist>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <TimeLock module="TimeLock">
                    <file>TimeLock.xml</file>
                </TimeLock>
            </updates>
        </layout>
    </frontend>
</config>